{% extends 'principal.html' %}

{% block content %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-4">
          .
        </div>    
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-4">
        .    
        </div>    
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-4">
        .    
        </div>    
    </div>
</div>
<div class="container">
   

<div class="card"id="yuu">
    <div class="card-header">
        CREAR EMPLEADO
    </div>
    <div class="card-body ">
        <h4 class="card-title">Datos del Empleado</h4>
        {% include 'programadores/form.html' %}

    </div>
    <div class="card-footer text-muted">
    </div>    
</div>
</div>
{% endblock %}

